version: '3.4'
services:
  db:
    image: leandrocgsi/mysql-rest-with-spring-boot-udemy
    command: mysql --default-authentication-plugin=mysql_native_password
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      TZ: America/Sao_Paulo
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: rest_spring_udemy
    ports:
      - "3308:3308"
    networks:
      - udemy-network
  rest-spring-udemy:
    image: leandrocgsi/rest-with-spring-boot-udemy
    restart: always
    build: ./restapi
    working_dir: /restapi
    environment:
      TZ: America/Sao_Paulo
      SPRING_BOOT_ENVIRONMENT: Production
    volumes:
      - ./restapi: /restapi
      - ~/ .m2:/root/m2
    ports:
      - "8080:8080"
    command: mvn clean spring-boot:run
    links:
      - db
    depends_on:
      - db
    networks:
      - udemy-network
networks:
  udemy-network:
    driver: bridge